@page "/"
@inject ProductService ProductService
<div class="container-fluid">
    <div class="row">
        @foreach (var product in products)
        {
            <div class="col-2 text-center" style="height:380px">
                <div class="p-4">
                    <a href="/product/@product.Id">
                        <div style="height:240px;">
                            <img class="img-fluid" src="@product.Image" />
                        </div>

                        <p>@product.Name</p>
                    </a>
                    <p class="price"><span class="currency">$</span>@product.Price</p>
                </div>
            </div>
        }
    </div>
</div>





@code {

    private Product[] products;


    protected override async Task OnInitializedAsync()
    {
        products = await ProductService.GetProducts();
    }

}